@import "./ColorPalete.scss";

.App {
 overflow-x: hidden;
 background-color: black;
 height: 100vh;
}

.banner-home {
    height: 500px;
    background-color: white;
    position: relative;
}

.passeios {
    background-image: url("./assets/img/Mapa\ fundo.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: 107px;
    background-position-y: -61px;
    background-size: 280px;
    padding: 15px;
    display: flex;
    flex-direction: column;

    h1 {
        font-family: "BreeSerif-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        padding: 0px;
        margin: 0px;
    }

    .passeios-list {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 15px;
        flex-wrap: wrap;
    }
}

.sobrenos {
    background-image: url("./assets/img/mapa\ green\ fundo.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-position-y: center;
    flex-wrap: wrap;

    h1 {
        font-family: "BreeSerif-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        padding: 0px;
        margin: 0px;
        opacity: 1;
    }

    .sobrenos-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 350px;
            height: 350px;
            border-radius: 100%;
            border: 20px solid rgba(131, 133, 43, 0.56);
            ;
        }

        span {
            width: 700px;
            line-height: 29px;
        }
    }
}

.contato {
    background-image: url("./assets/img/airplane\ fundo.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 15px;

    h1 {
        font-family: "BreeSerif-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        padding: 0px;
        margin: 0px;
        opacity: 1;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;

        label {
            display: flex;
            align-items: start;
            text-align: left;
            width: 97%;
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 2px;
        }


        input {
            height: 30px;
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
            padding: 5px;
            width: 97%;
        }

        textarea {
            border: none;
            background-color: #D9D9D9;
            border-radius: 8px;
            padding: 5px;
            width: 97%;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            margin: 15px 0px;
            padding: 10px 0px;
            border: none;
            border-radius: 8px;
            background-color: rgba(47, 89, 115, 0.64);
            font-family: "Montserrat-Regular";  
            font-size: 15px;
        }
    }
}

@media (min-width: 480px) {
	.passeios-list {
		height: max-content;
		width: 90%;
		display: flex;
		align-items: center;
	}
}
