$gray-dark: #393939;
$gray-light:#D9D9D9;


$blue-light-opacity: rgba(172, 215, 242, 0.63);
$blue-light: #98BEDF;
$blue-dark-opacity: rgba(47, 89, 115, 0.64);

$green-light-opacity: rgba(131, 133, 43, 0.56);