@media (min-width: 280px) {
    .banner-container {
        background-image: url("../../assets/img/man-kwan-bQFxKVLV6SY-unsplash.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-content {
        height: 50%;
        max-width: 680px;
        display: flex;
        z-index: 11;
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(220, 220, 255, 0.5);
        margin: 0px 15px;
        align-items: center;
        padding: 0px 5px;
        border-radius: 15px;

        span {
            color: white;
            font-family: "Montserrat-Regular";
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            text-align: center;
        }

        button {
            background: rgba(172, 215, 242, 0.63);
            border-radius: 7px;
            border: none;
            font-size: 20px;
            font-family: "Montserrat-Regular";
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            padding: 15px;
            text-transform: uppercase;
            width: 270px;
            height: 56px;
            font-weight: bold;
            color: white;
        }
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .banner-container {
        background-image: url("../../assets/img/man-kwan-bQFxKVLV6SY-unsplash.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;

        .banner-content {
            height: 100%;
            max-width: 100%;
            display: flex;
            z-index: 11;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(220, 220, 220, 0.5);
            margin: 0px;
            border-radius: 0;
            align-items: center;
            padding: 0px 15px;

            span {
                color: white;
                font-family: "Montserrat-Regular";
                font-style: normal;
                font-weight: 400;
                font-size: 60px;
                line-height: 63px;
                text-align: left;
            }

            button {
                background: rgba(172, 215, 242, 0.63);
                border-radius: 7px;
                border: none;
                font-size: 22px;
                font-family: "Montserrat-Regular";
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                padding: 15px;
                text-transform: uppercase;
                width: 270px;
                height: 56px;
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: 960px) {
    .banner-container {
        background-image: url("../../assets/img/man-kwan-bQFxKVLV6SY-unsplash.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;

        .banner-content {
            height: 100%;
            max-width: 100%;
            width: 100%;
            display: flex;
            z-index: 11;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            span {
                color: white;
                font-family: "Montserrat-Regular";
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 63px;
                max-width: 51%;
                text-align: left;
                padding: 10px 15px;
            }

            button {
                background: rgba(172, 215, 242, 0.63);
                border-radius: 7px;
                border: none;
                font-size: 20px;
                font-family: "Montserrat-Regular";
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                padding: 15px;
                text-transform: uppercase;
                width: 270px;
                height: 56px;
                margin: 0px 15px;
            }
        }
    }
}